/* Universal Styles */

html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    color: #1F599D;
  }
  
  a {
    color: white;
    text-decoration: none;
  }

  h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* Header Section */

  .flexbox{
    display: flex;
  }

  header {
    width: 100%;
    height: 67px;
    background-color: #073C9E;    
    align-items: center;
  }

  header img {
    height: 47px;
    padding-right: 5px;
    margin-left: 700px;
  }

  .name h2 {
    color: white;
    font-size: 25px;
  }

  nav {
    text-align: right;
    flex-grow: 1;
  }
  
  nav span {
    display: inline-block;
    padding: 20px 10px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
  }

  .banner img{
    width: 100%;
  }

  /* Description */

  .description {
    width: 1200px;
    text-align: center;
    margin-left: 200px;
    margin-bottom: 50px;
    font-size: 16px;
  }

  .description h2 {
    margin: 10px;
  }
  
   /* L&G Section */

  .lee  {
    height: 300px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-bottom: 50px;
  }

  .lee p {
    text-align: center;
    width: 600px;
    margin-left: 170px
  }
  
  .jeoff  {
    height: 300px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 20px;
  }

  .jeoff p {
      text-align: center;
      width: 600px;
      margin-left: 170px
  }

  /* Photos */

  .photos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
  }

  .photos img {
    width: 400px;
    height: 300px;
    margin-right: 30px;
    margin-bottom: 30px;
  }

  /* Videos */

  .video {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
  }

  /* Footer */

  .engine img {
    width: 100%;
    vertical-align: bottom;
  }

  footer {
    background-color: #073C9E;
    color: #fff;
    padding: 5px 0;
    width: 100%;
    z-index: 1;
    bottom: 0;
  
  }
  .container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
  }

